.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

bin
gen
*.class
*.sh
.settings/
.classpath
build/
.idea/
*.orig
*.asc

.gradle/
*.iml
local.properties
.idea/*
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/misc.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild